@{
  Layout = "_Layout";
}

@using Cellar.Models;

<h2>Wines in @User.Identity.Name's cellar</h2>
<hr />

@if (@Model.Count == 0)
{
  <h3>You have no Wines! Buy some!</h3>
}

<ul>
  @foreach(Wine wine in Model)
  {
    <li class="hair">@Html.ActionLink($"{wine.Producer}", "Details", new { id = wine.WineId })</li>
  }
</ul>
<p>@Html.ActionLink("Add wine to cellar", "Create")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>