@{
  Layout = "_Layout";
}

<h1>All about @Model.Appellation</h1>

<p>Country: @Model.Country</p>

<p>Climate: @Model.Climate</p>

<p>Soil: @Model.Soil</p>

@Html.ActionLink("Return to all regions", "Education")
